<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>com.controller.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Article</servlet-name>
        <servlet-class>com.controller.Article</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>com.controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleByCategory</servlet-name>
        <servlet-class>com.controller.ArticleByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationUser</servlet-name>
        <servlet-class>com.controller.RegistrationUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Article</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleByCategory</servlet-name>
        <url-pattern>/articleByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationUser</servlet-name>
        <url-pattern>/registrationUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
